<div class="container">
    <div class="d-flex justify-content-between mt-4">
        <h4>Mantenimiento Profesores</h4>
        <button class="btn btn-success" (click) = "navigateToForm()">Agregar</button>
    </div>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @for (item of lstProfesores; track index; let index = $index) {
            <tr>
                <td>{{item.idProfesor}}</td>
                <td>{{item.nombresProfesor}}</td>
                <td>{{item.apellidosProfesor}}</td>
                <td>{{item.email}}</td>
                <td>
                    <!-- Podemos enviar valores a metodos en el .ts de esta
                    forma-->
                    <button class="btn btn-primary" (click)="updateProfesor(item.idProfesor)">Actualizar</button>
                    <!-- Esta es otra forma con la que podemos enviar valores a
                    metodos en el .ts-->
                    <button class="btn btn-danger ml-2" (click)="deleteProfesor($event)" value="{{item.idProfesor}}">Eliminar</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    </div>

