<div class="container">
    <div class="mt-4">
        <h3>Agregar profesor</h3>
    </div>
    <form class="mt-4" [formGroup]="form">
        <div class="form-group mt-2">
            <label>Nombres</label>
            <input formControlName="nombresProfesor" type="text" class="formcontrol" [class.isinvalid]="validateField('nombresProfesor')"placeholder="Nombre del profesor">
            <div class="invalid-feedback">
                @if(validateField('nombresProfesor')){
                    <span>Este campo es requerido</span>
                }
            </div>
        </div>
        <div class="form-group mt-2">
            <label>Apellidos</label>
            <input formControlName="apellidosProfesor" type="text" class="formcontrol" [class.is-invalid]="validateField('apellidosProfesor')" placeholder="Apellidos del profesor">
            <div class="invalid-feedback">
                @if(validateField('apellidosProfesor')){
                    <span>Este campo es requerido</span>
                }
            </div>
        </div>
        <div class="form-group mt-2">
            <label>Email</label>
            <input formControlName="email" type="text" class="formcontrol" [class.is-invalid]="validateField('email')" placeholder="Email del profesor">
            <div class="invalid-feedback">
                @if(validateField('email')){
                    <span>Este campo es requerido</span>
                }
            </div>
            <div class="invalid-feedback">
                @if(form.get('email')?.errors?.['email']){
                    <span>Correo no valido</span>
                }
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="onSubmit()">Confirmar informacion</button>
        </div>
    </form>
</div>
